.action-detail-view {
  background-color: var(--yellow);
  padding: 15px;
  min-height: 100vh;
  padding-bottom: 80px;
}

.action-detail-view__upper {
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: 1px 1px 0 1px rgba(0,0,0,0.75);
  position: relative;
  padding-bottom: 90px;
  margin-bottom: 30px;

}

.action-detail-view__image {
  width: 100%;
  object-fit: cover;
  min-height: 150px;
  max-height: 340px;
  background: lightgray;
}


.action-detail-view__title {
  background-color: #011683;
  color: #fff;
  border-radius: var(--radius) var(--radius) 0 0;
  padding: 10px 30px;
  position: absolute;
  width: 100%;
  bottom: 35px;
  min-height: 100px;
  font-size: 20px;

font-weight: bold;
}

.action-detail-view__stars {
  background-color: #00aed8;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: var(--radius);
  padding: 10px 30px;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 90px;
  font-size: 20px;
}

.action-detail-view__stars > svg {
  margin: 0 5px;
  width: 20px;
  height: 52px;
}

.action-detail-view__stars > :first-child {
  margin: 0 20px 0 0;
}

.action-detail-view__buttons {
  margin-bottom: 30px;
}

.action-detail-view__buttons > :first-child {
  margin-right: 10px;
}

.action-detail-view__link {
  margin-bottom: 20px;
}

.action-detail-view__dude {
  background-image: url("./dude.png");
  background-size: cover;
  width: 187px;
  height: 304px;
  margin: 10px auto 0;
}
