@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dm-sans-v6-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-sans-v6-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-sans-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-sans-v12-latin-italic.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/pt-sans-v12-latin-700italic.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-700italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/pt-sans-v12-latin-700.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-serif-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/pt-serif-v12-latin-italic.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/pt-serif-v12-latin-700.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/pt-serif-v12-latin-700italic.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-700italic.woff") format("woff");
}

:root {
  --yellow: #ffc80c;
  --blue: #00aed8;
  --green: #a3d869;
  --blue-dark: #011633;
  --radius: 40px;
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background: lightgray;
}

.fixed-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

.main-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-bottom: 50px;
  background: var(--yellow);
}

.main-screen > :first-child {
  flex-grow: 1;
}

.app *,
.app *::after,
.app *::before {
  box-sizing: border-box;
}

.app {
  position: relative;
  min-width: 320px;
  max-width: 414px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.bg-gradient {
  background: linear-gradient(to bottom, #ffe2f5, #cbdffc);
  background: #ffc80c;
}

/* copied from GermanZero website */
.button {
  padding: 20px 30px;
  display: inline-block;
  color: var(--blue-dark);
  border: 0;
  text-decoration: none;
  cursor: pointer;
  border-radius: 0;
  transition: color 0.4s;
  background-color: #a3d869;
  box-shadow: 1px 1px 0 1px rgba(0,0,0,0.75);
  font-family: inherit;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  min-height: 50px;
  line-height: 32px;
  border-radius: 30px;
}

.button--secondary {
  background-color: var(--blue);
  color: #fff;
}

