@font-face {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-sans-v6-latin-regular.woff2") format("woff2"),
    url("../fonts/dm-sans-v6-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-v12-latin-italic.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-latin-700italic.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-700italic.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-v12-latin-700.woff2") format("woff2"),
    url("../fonts/pt-sans-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-serif-v12-latin-regular.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-serif-v12-latin-italic.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-italic.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-serif-v12-latin-700.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "PT Serif";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-serif-v12-latin-700italic.woff2") format("woff2"),
    url("../fonts/pt-serif-v12-latin-700italic.woff") format("woff");
}

body {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  background: lightgray;
}

.fixed-screen {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  overflow: auto;
}

.app *,
.app *::after,
.app *::before {
  box-sizing: border-box;
}

.app {
  position: relative;
  min-width: 320px;
  max-width: 600px;
  min-height: 100vh;
  margin: 0 auto;
  background: #fff;
}

.bg-gradient {
  background: linear-gradient(to bottom, #ffe2f5, #cbdffc);
}
