.background {
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 100% auto;
}

.background--yellow {
  background-color: var(--yellow);
}

.background--blue {
  background-color: var(--blue);
}

.background--green {
  background-color: var(--green);
}

.background--blue-dark {
  background-color: var(--blue-dark);
}

.background--black {
  background-color: #000;
}

.background--white {
  background-color: #fff;
}

.background--jubel {
  background-image: url("../images/backgrounds/jubel.jpg");
}

.background--parlament {
  background-image: url("../images/backgrounds/parlament.jpg");
}

.background--biertisch {
  background-image: url("../images/backgrounds/biertisch.jpg");
}

.background--buero {
  background-image: url("../images/backgrounds/buero.jpg");
}

.background--interview {
  background-image: url("../images/backgrounds/interview.jpg");
}

.background--kaminzimmer {
  background-image: url("../images/backgrounds/kaminzimmer.jpg");
}

.background--talkshow {
  background-image: url("../images/backgrounds/talkshow.jpg");
}

.background--wahl {
  background-image: url("../images/backgrounds/wahl.jpg");
}

.background--zeitung {
  background-image: url("../images/backgrounds/zeitung.jpg");
}
