.dashboard-new {
  background: var(--yellow);
  border: 1px solid green;
  padding: 26px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboard-new--vote1 svg .vote1 {
  fill: #00aed8;
}

.dashboard-new--vote2 svg .vote2 {
  fill: #00aed8;
}

.dashboard-new--vote3 svg .vote3 {
  fill: #00aed8;
}

.dashboard-new__container {
  width: 320px;
  height: 150px;
  position: relative;
}

.dashboard-new__container > svg {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.dashboard-new__progress {
  position: absolute;
  width: 62.5%;
  top: 23%;
  left: 22.8%;
  height: 50%;
}

.dashboard-new__calendar {
  position: absolute;
  width: 27.4%;
  top: 78.5%;
  left: 36%;
  height: 19.8%;
  z-index: 2;
}

.dashboard-new__year {
  position: absolute;
  top: 54%;
  left: 85.5%;
  z-index: 2;
  color: #fff;
  font-size: 10px;
}

.dashboard {
  padding: 15px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 10px;
}

.dashboard-fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
}

.dashboard-fixed > div {
  max-width: 600px;
  margin: 0 auto;
}

.dashboard > * {
  xxbox-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  font-weight: bold;
}

.dashboard > :nth-child(1) {
  grid-column: 1 / 6;
  grid-row: 1;
  width: 100%;
}

.dashboard > :nth-child(2) {
  grid-column: 6 / 13;
  grid-row: 1;
  width: 100%;
}

.dashboard > :nth-child(3) {
  grid-column: 1 / 10;
  grid-row: 2;
  width: 100%;
}

.dashboard > :nth-child(4) {
  grid-column: 10 / 13;
  grid-row: 2;
  width: 100%;
}

.dashboard--small > * {
  border-radius: 8px;
  font-size: 18px;
}

.dashboard--medium > * {
  border-radius: 16px;
  font-size: 20px;
}

.dashboard--large > * {
  border-radius: 20px;
  font-size: 22px;
}

.dashboard--small > :nth-child(1) {
  grid-column: 1 / 4;
  grid-row: 1;
  height: 60px;
}

.dashboard--small > :nth-child(2) {
  grid-column: 4 / 8;
  grid-row: 1;
  height: 60px;
}

.dashboard--small > :nth-child(3) {
  grid-column: 8 / 10;
  grid-row: 1;
  height: 60px;
}

.dashboard--small > :nth-child(4) {
  grid-column: 10 / 13;
  grid-row: 1;
  height: 60px;
}

.dashboard--medium > :nth-child(1) {
  height: 120px;
}

.dashboard--medium > :nth-child(2) {
  height: 120px;
}

.dashboard--medium > :nth-child(3) {
  height: 60px;
}

.dashboard--large > :nth-child(1) {
  height: 220px;
}

.dashboard--large > :nth-child(2) {
  height: 220px;
}
