.final-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.final-screen__won {
  padding: 20px;
  background: white;
  color: green;
}

.final-screen__lost {
  padding: 20px;
  background: white;
  color: black;
}

.final-screen__again {
  margin: 50px 0;
}

.final-screen__share {
  margin: 50px 0 0;
}
