.final-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.final-screen__won {
  background: green;
}

.final-screen__lost {
  background: black;
}
