.follow-up {
  overflow: hidden;
  min-height: 100vh;
}

.follow-up > div {
  height: 100%;
}

.follow-up__checkmark {
  display: flex;
  justify-content: flex-end;
  padding: 30px 0 0 0;
  margin-right: -50px;
}

.follow-up__header {
  margin-top: -100px;
  padding: 0 30px;
  margin-bottom: 50px;
}

.follow-up__header > strong {
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

.follow-up__image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.follow-up__thermometer {
  display: flex;
  justify-content: center;
}

.follow-up__question {
  padding: 40px 20px;
  font-size: 20px;
  font-weight: bold;
}

.follow-up__answer {
  margin: 10px 20px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.follow-up__reaction {
  padding: 40px 20px;
  font-size: 20px;
  font-weight: bold;
}

.follow-up__love {
  padding: 40px 20px;
  font-size: 20px;
}
