.game-over {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
}

.game-over__text {
  font-size: 20px;
  font-weight: bold;
}

.game-over__share {
width: 50px;
height: 50px;
  margin: 0 10px;
}

.game-over__share svg {
  width: 50px;
  height: 50px;
}

.game-over__shares {
text-align: center;
  padding: 40px;
}
