.game-over {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  justify-content: flex-end;
}

.game-over__header {
  display: flex;

  align-items: center;
  margin-bottom: 20px;
}

.game-over__icon {
  width: 80px;
  height: 80px;
}
.game-over__icon svg {
  width: 100%;
  height: 100%;
}

.game-over__icon--party path {
}

.game-over__icon--sad path {
  fill: var(--blue-dark);
}

.game-over__score {
  margin-left: 20px;
  font-weight: 400;
}

.game-over__score-number {
  font-size: 24px;
  font-weight: bold;
}

.game-over__text {
  font-size: 20px;
  line-height: 1.7;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
}

.game-over__again {
  margin-bottom: 20px;
}

.game-over__share {
width: 50px;
height: 50px;
  margin: 0 10px;
}

.game-over__share svg {
  width: 50px;
  height: 50px;
}

.game-over__shares {
  padding: 40px 0;
  margin-left: -40px;
  margin-bottom: 20px;
  width: calc(100% + 80px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue-dark);
}

.game-over__shares > * {
  margin: 0 5px;
}

.game-over__teaser-text {
  font-size: 18px;
  line-height: 1.7;
  font-weight: 400;
  margin-bottom: 20px;

}
