.love-chart-new {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: -17px;
}

.love-chart-new--positive svg .st31 {
  fill: #a3d869;
}

.love-chart-new--negative svg .st31 {
  fill: #f3241c;
}

.love-chart-new > svg {
  width: 52px;
  height: 50px;
}

.love-chart-new__label {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

.love-chart {
  height: 200px;
  position: relative;
  background-color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.75);
}

.love-chart--medium {
  flex-direction: row;
  height: 100px;
}

.love-chart--small {
  width: 200px;
  height: 140px;
}

.love-chart__svg-container {
  width: 100%;
  overflow: hidden;
}

.love-chart__slide {
  transition: transform 1s linear;
}

.love-chart > svg {
  border: 1px solid black;
}

.love-chart__label {
  display: inline-flex;
  align-items: center;
  flex-shrink: 0;
  font-size: 20px;
  font-weight: bold;
}

.love-chart__heart {
  width: 30px;
  margin-right: 10px;
}

@keyframes lovechart {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-5%);
  }
}
