.love-change {
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.love-change__text {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 40px;
  background: var(--yellow);
  padding: 20px;
}

.love-change__chart {
  margin: 0 auto;
}
