.overlay {
  background: #fff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1000;
  min-height: 100%;
  overflow: auto;
}

@keyframes overlayFadeIn {
  0% {opacity:0;}
  20% {opacity:0;}
  100% {opacity:1;}
}

.overlay__content {
  min-height: 100%;
  animation: overlayFadeIn 0.7s;
}
