.pause-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 999px;
  background: #fff;
  box-shadow: 1px 1px 0 1px rgba(0,0,0,0.75);
  cursor: pointer;
  margin-left: -17px;
  margin-top: 20px;
  user-select: none;
}

.pause-button svg {
  height: 40%;
  width: 40%;
}
