.sector-thermometer {
}

.sector-thermometer__container {
  width: 80px;
  height: 324px;
  position: relative;
}

.sector-thermometer__container svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sector-thermometer__target {
  position: absolute;
  top: 72.5%;
  right: 7%;
  color: var(--green);
  font-size: 20px;
  font-weight: bold;
}

.sector-thermometer__blocks {
  position: absolute;
  left: 24%;
  right: 30%;
  top: 12%;
  bottom: 23.9%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.sector-thermometer__block {
  height: 0;
  transition: height 0.5s;
  background: red;
}

.sector-thermometer__block--industry {
  background: #011168;
}

.sector-thermometer__block--agriculture {
  background: #011a9c;
}

.sector-thermometer__block--mobility {
  background: #0223d0;
}

.sector-thermometer__block--energy {
  background: #344fd9;
}

.sector-thermometer__block--buildings {
  background: #677be3;
}

.sector-thermometer__bubble {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 100px;
  box-shadow: 1px 1px 0 1px rgba(0, 0, 0, 0.75);
  width: 36px;
  height: 36px;
  margin-top: -18px;
  text-align: center;
  line-height: 36px;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  transition: top 0.5s;

  background: linear-gradient(
    to bottom,
    #f55,
    #f55 20%,
    #fce90e 80%,
    var(--green)
  );
  background-size: 100% 210px;
}
