.start-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.start-screen__content {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../images/leo.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: cover;
  color: white;
}

.start-screen__title {
  font-size: 40px;
  padding: 0 10% 0 10%;
}

.start-screen__play-icon {
  margin-top: 5vh;
  width: 40%;
  cursor: pointer;
  fill: white;
}

.start-screen__bottom-text {
  margin-top: 10vh;
  padding: 0 10% 0 10%;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

.start-screen__warning {
  display: none;
  color: #000;
  background: var(--yellow);
  padding: 5px;
  text-align: center;
  width: 100%;
}

@media (min-width: 601px) {
  .start-screen__warning {
    display: block;
  }
}

.start-screen__footer {
  flex-shrink: 0;
  background: var(--yellow);
  width: 100%;
  padding: 15px 20%;
}

@media (min-width: 401px) {
  .start-screen__footer {
    padding-left: 30%;
    padding-right: 30%;
  }
}

.start-screen__footer > :first-child {
  margin-bottom: 10px;
}

.start-screen__footer > :last-child {
  text-align: center;
}

.start-screen__footer-link {
  color: #000;
}
