.start-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./arrow.svg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;
}

.start-screen__title {
  padding-left: 10vw;
  font-size: 40px;
}

.start-screen__play-icon {
  margin-top: 5vh;
  width: 40%;
}

.start-screen__bottom-text {
  margin-top: 10vh;
  padding: 0 10vw 0 10vw;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}
