.vote {
  min-height: 100vh;
  padding: 20px;
}

.vote__text {
  font-size: 20px;
  margin-bottom: 10px;
}

.vote__chart {
  border-bottom: 3px solid black;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.vote__bar {
  width: 20%;
  margin: 0 4%;
  display: flex;
  align-items: flex-end;
}

.vote__bar__inner {
  background-color: var(--blue);
  transition: height 1s;
  height: 0;
  width: 100%;
}

.vote__bar:nth-child(1) .vote__bar__inner {
  background-color: var(--green);
}

.vote__bar.-active .vote__bar__inner {
  height: 100%;
}
