<!doctype html>
<html lang="de" data-compiled="<%= new Date() %>" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>Klimakanzler:in | GermanZero e.V.</title>

    <meta name="description" content="GermanZero e.V.">
    <meta property="og:title" content="Klimakanzler:in">
    <meta property="og:description" content="GermanZero e.V.">
    <meta property="og:locale" content="de_DE">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.klimakanzler.in/">
    <meta property="og:image" content="https://www.klimakanzler.in/og-image.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Logo von GermanZero e.V.">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@_germanzero">
  </head>
  <body>
    <div id="root"></div>
  </body>
</html>
