<!doctype html>
<html lang='de' data-compiled='<%= new Date() %>'>
  <head>
    <meta charset='utf-8'>
    <title>Klimakanzler:in</title>
  </head>
  <body>
    <div id='root'></div>

    <!-- Cloudflare Web Analytics --><script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "99b9cf5fe65643f3b0742f4b40912bc4"}'></script><!-- End Cloudflare Web Analytics -->
  </body>
</html>
